@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.anim {
  @apply duration-100 ease-linear transition-all;
}

.mention,
.hashtag {
  @apply text-primary;

  &:hover {
    @apply underline;
  }
}

.min-w-half {
  min-width: 50%;
}

.widget {
  @apply bg-white overflow-hidden rounded-xl shadow-md;
  width: 320px;

  @screen lg {
    width: 350px;
  }
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

:root {
  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 100%);
  --color-dark: hsl(252, 30%, 17%);
  --color-light: hsl(252, 30%, 95%);
  /* --color-primary: hsl(194.6, 99%, 59.2%); */
  --color-primary: #2599c0;
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-gray: hsl(252, 15%, 65%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --search-padding: 0.6rem 1rem;
  --btn-padding: 0.6rem 2rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

body {
  font-family: 'poppins', 'sans-serif';
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
}

.btn-primary {
  background: var(--color-primary);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: #444;
}

/* .navBAR */
.search-bar {
  background: #f3f4f6;
  /* background: var(--color-light); */
  padding: 0.6rem 1rem;
  /* border-radius: var(--border-radius); */
  border-radius: 6px;
}

.search-bar input[type='search'] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

.search-bar input[type='search']::placeholder {
  color: var(--color-gray);
}

nav.create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* main  */

main {
  min-height: calc(100vh - 48px);
}

/* main .container {
  display: grid;
  grid-template-columns: 18vh auto 20vw;
  column-gap: 2rem;
  position: relative;
} */

/* Main Left */
main .container .left {
  height: max-content;
  /* position: sticky;
	top: var(--sticky-top-left); */
}

main .container .left .profile {
  padding: var(--card-padding);
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

/* SIDEBAR */
.left .sidebar {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.left .sidebar i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 1.5rem;
  position: relative;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active::before {
  content: '';
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

/* MIDDLE */

.middle .stories {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  gap: 0.5rem;
}

.middle .stories .story {
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.middle .stories .story::before {
  content: '';
  display: block;
  width: 100%;
  height: 5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  position: absolute;
  bottom: 0;
}

.middle .stories .story .name {
  z-index: 2;
}

.middle .stories .story:nth-child(1) {
  background: #1ab394a4;
}

.middle .stories .story:nth-child(2) {
  background: #f394a4;
}

.middle .stories .story:nth-child(3) {
  background: #a394a4;
}

.middle .stories .story:nth-child(4) {
  background: #b394a4;
}

.middle .story .profile-photo {
  width: 2rem;
  height: 2rem;
  align-self: start;
  border: 3px solid var(--color-primary);
}

/* CREATE POST */

.middle .create-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.middle .create-post input[type='text'] {
  justify-self: start;
  width: 100%;
  padding-left: 1rem;
  background: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
}

.middle .feeds .feed {
  background: white;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

.middle .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .photo {
  overflow: hidden;
  border-radius: var(--card-border-radius);
  margin: 0.7rem 0;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}

.main .container .right {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .messages {
  background: white;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.right .messages .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
}

.border-bottom {
  border-bottom: solid 1px var(--color-dark);
}

.border-bottom-primary {
  border-bottom: solid 1px var(--color-primary);
}

.border-bottom-secondary {
  border-bottom: solid 1px var(--color-secondary);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sticky {
  position: -webkit-sticky;
}

.transparent-left {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255));
}

.transparent-right {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255));
}

.popup {
  background-color: rgba(128, 128, 128, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  justify-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
  width: 100%;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-bottom: 8px solid #e2e8f0;
}

#dot-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dot-loader div {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  display: inline-block;
  animation: slideDotLoader 0.75s linear infinite normal both;
  margin-left: 4px;
  margin-right: 4px;
}

#dot-loader div:nth-child(1) {
  animation-delay: 0.1s;
}

#dot-loader div:nth-child(2) {
  animation-delay: 0.3s;
}

#dot-loader div:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes slideDotLoader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.low_image_brightness{
  filter: brightness(25%);
  }
  